body {
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: #eee;
}

label,
input,
select,
textarea {
  font-family: Lato, sans-serif;
}
h1 {
  padding-top: .5em;
  font-weight: 300;
}
.wrapper {
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
}
.btn-large {
  font-size: 1.5em;
}
a.btn-large small {
  color: #666;
  font-size: .75em;
}
.header {
  overflow: hidden;
}
.header-bar {
  border-top: 5px solid #00A859;
}
.header-bar:before {
  border-top: 5px solid #FFCC29;
  content: ' ';
  display: block;
}
.header-bar:after {
  border-top: 5px solid #3E4095;
  content: ' ';
  display: block;
}
.logo {
  margin: 0 auto;
  font-size: 50px;
  height: 50px;
  width: 30%;
  float: left;
}
.logo a {
  color: #00A859;
  display: block;
}
.search {
  width: 70%;
  float: right;
}
.search .query {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  line-height: 22px;
  font-size: 18px;
}
table th {
  white-space: nowrap;
}
