$green: #2ECC71;
$deep-green: #27AE60;
$yellow: #F1C40F;
$blue: #2980B9;
$clouds: #ECF0F1;
$link: #3498DB;
$silver: #BDC3C7;
$red: #E74C3C;
$black: #2C3E50;


@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $silver;
}

body,
label,
input,
select,
textarea {
  font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.logo {
  float: left;
  margin: .5em 0;
}

.header {
  background: $black;
  .menu {
    padding: 1em 0;
    font-weight: 700;
    font-size: 1.25em;
  }
  .search {
    margin-right: 1em;
    border: none;
    border-radius: 0;
    background: $clouds;
    box-shadow: none;
    font-size: 1em;
    font-weight: 400;
    padding: .35em .5em .35em .5em;
    line-height: 1.5em;
    margin-top: .25em;
    &:focus,
    &:hover  {
      background: white;
    }
  }
}

.header a,
.showcase a {
  color: $yellow;
}

.footer {
  padding: 3em 0;
  text-align: center;
  color: #888;
}

.showcase {
  background-attachment: fixed;
  background-color: $black;
  background-image: url(/assets/senado.png);
  background-position: center -140px;
  background-repeat: no-repeat;
  padding: 6em 0;
  h3 {
    margin: 0;
    font-size: 3em;
    line-height: 1.3em;
    color: white;
    font-weight: 200;
    margin-right: 1em;
  }
  .btn {
    background: $green;
    margin-bottom: 2em;
    &:hover {
      background: lighten($green, 5%);
    }
  }
}

.what-is-and-what-it-does {
  padding: 3em 0;
  background: $clouds;
  font-size: 1.25em;
  .content-row {
    padding: 3em 0;
  }
  .btn {
    background: $green;
  }
}

.monitor {
  .box {
    background: $silver;
    color: $black;
    border-radius: 4px;
    padding: 3em 2em;
    text-align: center;
  }
  h3 {
    margin: 0;
    line-height: 1;
    small {
      display: block;
      color: $black;
    }
  }
  .value {
    font-size: 2em;
    font-weight: 900;
    margin: 1em 0;
  }
}

.senators-list {
  background: white;
}

.senators {
  margin-top: 1em;
  th,
  td {
    padding: .5em;
    text-align: center;
    vertical-align: middle;
    margin: 0;
  }
  thead {
    th {
      background: $silver;
    }
  }
}
.senator {
  &:hover {
    td {
      background: #EEE;
    }
  }
  a {
    display: block;
  }
  .senator-avatar {
    padding: .5em 0;
  }
  .senator-info {
    text-align: left;
    padding-left: 0;
  }
  .senator-image {
    display: inline-block;
    vertical-align: middle;
  }
  .senator-image {
    background-attachment: scroll;
    background-color: $clouds;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    margin-right: 1em;
    height: 48px;
    width: 48px;
  }
  .senator-name {
    font-weight: 700;
  }
  .senator-salary {
    white-space: nowrap;
    font-size: 1.5em;
    font-weight: 700;
  }
  .servants-count,
  .servants-salaries {
    font-size: 1.5em;
    font-weight: 900;
    span,
    small {
      @include border-box;
      display: block;
      width: 50%;
      float: left;
      padding-left: .5em;
      margin: .5em 0;
    }
    span {
      text-align: right;
      font-size: 1.5em;
    }
    small {
      text-align: left;
      color: lighten($black, 20%);
      line-height: 2em;
    }
  }
  .meter-wrapper {
    position: relative;
    width: 100%;
    height: 1em;
    overflow: hidden;
    opacity: .75;
  }
  .meter-bar,
  .meter-label {
    position: absolute;
    height: 1.25em;
  }
  .meter-bar {
    background: $silver;
  }
  .meter-label {
    top: .25em;
    width: 100%;
    line-height: .75em;
  }
  .category-1,
  .category-2,
  .category-3,
  .category-4 {
    border-right: .5em solid white;
  }
  .category-1 { border-right-color:         $red      ; }
  .category-2 { border-right-color: lighten($red, 10%); }
  .category-3 { border-right-color: lighten($red, 20%); }
  .category-4 { border-right-color: lighten($red, 30%); }
}

.graphs,
.profile {
  padding: 3em 0;
  background: white;
}

.profile {
  .profile-avatar {
    width: 128px;
    height: 128px;
    background-size: cover;
    border-radius: 100%;
  }
  .profile-name {
    margin: 0;
  }
  .profile-age {
    display: inline-block;
    margin-right: 1em;
  }
  .profile-party {
    display: inline-block;
  }
}

.icon-huge {
  font-size: 10em;
  color: darken($clouds,10%);
  display: block;
}
.centered {
  text-align: center;
}

/* BOOTSTRAP */
.btn {
  border: none;
  border-radius: 0;
  background: $clouds;
  box-shadow: none;
  text-shadow: none;
  &:hover {
    background: white;
  }
}

