$green: #00A859;
$yellow: #FFCC29;
$blue: #3E4095;
$cloud: #ECF0F1;
$link: #3498DB;
$silver: #BDC3C7;

body {
  background-color: $silver;
}

body,
label,
input,
select,
textarea {
  font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.logo {
  float: left;
  margin: .5em 0;
}

.header {
  background: $green;
  .menu {
    padding: 1em 0;
    font-weight: 700;
    font-size: 1.25em;
  }
  .search {
    margin-right: 1em;
    border: none;
    border-radius: 0;
    background: $cloud;
    box-shadow: none;
    font-size: 1em;
    font-weight: 400;
    padding: .35em .5em .35em .5em;
    line-height: 1.5em;
    margin-top: .25em;
    &:focus,
    &:hover  {
      background: white;
    }
  }
}

.header a,
.showcase a {
  color: $yellow;
  &:hover {
    color: white;
  }
}

.footer {
  padding: 3em 0;
  text-align: center;
  color: #888;
}

.showcase {
  background-attachment: fixed;
  background-color: $green;
  background-image: url(/assets/senado.png);
  background-position: center -140px;
  background-repeat: no-repeat;
  padding: 6em 0;
  h3 {
    margin: 0;
    font-size: 3em;
    line-height: 1.3em;
    color: white;
    font-weight: 200;
    margin-right: 1em;
  }
  .btn {
    background: $green;
    margin-bottom: 2em;
    &:hover {
      background: lighten($green, 5%);
    }
  }
}

.what-is-and-what-it-does {
  padding: 3em 0;
  background: $cloud;
}

.graphs,
.profile {
  padding: 3em 0;
  background: white;
}

.profile {
  .profile-avatar {
    width: 128px;
    height: 128px;
    background-size: cover;
    border-radius: 100%;
  }
  .profile-name {
    margin: 0;
  }
  .profile-age {
    display: inline-block;
    margin-right: 1em;
  }
  .profile-party {
    background: $blue;
    color: white;
    border-radius: 3px;
    display: inline-block;
    line-height: 1;
    margin: 0;
    padding: .25em .5em;
    font-size: 1em;
    font-weight: 400;
  }
}


/* BOOTSTRAP */
.btn {
  border: none;
  border-radius: 0;
  background: $cloud;
  box-shadow: none;
  text-shadow: none;
  &:hover {
    background: white;
  }
}

